/************************************************************************************
 * TODO figure out how to refresh CSS sheet when changes are made to it
 *	Manual refresh: In wbe page press -> ctrl AND Fn + f5 
 ***********************************************************************************/

/****************/
/*Set up Nav Bar*/
/****************/
ul {
	list-style-type: NONE;
	margin: 0;
	padding: 0;

	border: 5PX;
	border-style: SOLID;
	border-color: BLACK;
	border-radius: 20PX;
}

/*Make list horizontal*/
li {
	display: INLINE;
	padding: 15PX;
}


/*************************/
/*Style table and headers*/
/*************************/

/*******************/
/*Set up background*/
/*******************/

/*Make background cover the full page*/
body, html{
	height: 100%;
}


/*Load background image*/

body{
	background-image: url("../img/beach_background.jpg"); 
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}


/**********************/
/*Style Drop Down Menu*/
/**********************/

/*TODO*/
